* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body,html {
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: inherit;
}

nav {
    flex: 0;
    background-color: blue;
}

.dropdown {
    position: relative;
    width: max-content;
}

.dropdown-list {
    display: none;
    position: absolute;
}

.visible {
    display: block;
}

.main {
    flex: 1;
}

.dropdown-list ul {
    background-color: blanchedalmond;
    width: max-content;
    padding: 10px;
}

/* ============================================== */

.carousel {
    position: relative;
    height: 600px;
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 200px;
}

.carousel__images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__track-container {
    background: greenyellow;
    height: 100%;
    position: relative;
}

.carousel__track {
    list-style: none;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;

}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button--left {
    left: -40px;
}

.carousel__button--right {
    right: -40px;
}

.carousel__button img {
    width: 17px;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background: black;
    margin: 0 12px;
    background: rgba(0, 0, 0, 0.3);

}

.carousel__indicator.current-slide {
    background: rgba(0, 0, 0, 0.75);
}